.video_sidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar_button {
  padding: 20px;
  padding-bottom: 5px;  
  text-align: center;
  cursor: pointer;
}

.whatsapp {
    background-color: green;
    border: solid 1px transparent;
    border-radius: 20px;
}