html {
  scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    color: white;
    background-color: black;
    /* Places the item in the middle of the screen */
    display: grid;
    place-items: center;
}

.app_videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
  /* box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 0.3); */
  border: 1px solid #444;
}

/* Hides scrollbar from Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
    display: none;
}

.app_videos {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}